.jumbotron {
    background-color:rgb(0, 255, 213);
    color: black;

}

footer{
    padding: 10px 10px 0 10px;
    background-color:gray;
    margin-bottom: 10 px;
    margin-top: 10 px;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    background-color:rgb(0, 255, 213);
}